body {
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    color: white;
    width: 800px;
    margin: auto;
}

/* General styles for unordered lists (ul) */
ul {
    list-style-type: none;
    /* Remove default bullets */
    padding-left: 0;
    /* Remove default padding */
}

/* Nested list items will be indented */
ul ul {
    padding-left: 20px;
    /* Indent nested lists */
}

li {
    margin-bottom: 5px;
    /* Add some space between list items */
}

a {
    color: white;
    /* Light yellow for links */
    text-decoration: none;
    /* Remove underline */
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

img {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #333;
    /* Dark background for the table */
    color: white;
    /* White text for monochrome theme */
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid white;
    /* White borders for table cells */
}

th {
    background-color: black;
    /* Black background for table headers */
    font-weight: bold;
}

td {
    background-color: black;
}

/* Edit OL */
ol {
    list-style-type: square;
    font-size: small;
}


.toc-list li>a {
    text-decoration: none;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: end;
}

.toc-list li>a>.page {
    text-align: right;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.toc-list li>a>.title {
    position: relative;
    overflow: hidden;
}

.toc-list li>a .title::after {
    position: absolute;
    padding-left: .25ch;
    content: " . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right;
}

.toc-list>li>a {
    font-weight: bold;
    margin-block-start: 1em;
}


@media print {

    body {
        background-color: white;
        color: black;
    }

    img {
        filter: invert(100%);
    }

    a {
        color: black;
    }

    table {
        background-color: white;
        /* Dark background for the table */
        color: black;
        /* White text for monochrome theme */
    }

    th,
    td {
        border: 1px solid black;
        /* White borders for table cells */
    }

    td {
        background-color: white;
    }

    /* Control page breaks */
    table,
    img,
    pre {
        page-break-inside: avoid;
    }

    .toc-list {
        list-style-type: decimal;
    }

    /* Page numbers */
    @page {
        margin: 1in;
    }

    /* Adding a footer with page numbers */
    @page :right {
        @bottom-right {
            content: "Page " counter(page);
        }
    }

    @page :left {
        @bottom-left {
            content: "Page " counter(page);
        }
    }

}