body {
    background-color: #262625;
    /* Cor de Fundo */
    max-width: 800px;
    /* Largura do Corpo */
    margin: auto;
    font-family: 'Times New Roman';
    text-align-last: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;

  }

  h1 {
  color: white;
  display: block;
  text-align: center;
  }

  h2 {
    color: white;
    display: block;
    text-align: center;
    }

    h3 {
      color: white;
      display: block;
      text-align: center;
      }

  label{
    color: white;
    display: block;
    text-align: center;
  }
