 
  :root {
    --blade-color: #0f0f0f;
    --text-color:  #CCCCCC;
    --background-color:  black;
    --text-attention: goldenrod;

  }
 
body{
    background-color:var(--background-color);
    font-family: 'Times New Roman', Times, serif;

}
.navbar, .fixed-top, .bg-primary, .dropdown-menu {
    background-color:var(--blade-color) !important;
    background-image:var(--blade-color) !important;
}

.dropdown-menu, .dropdown-list, .dropdown-item{
  background-color:var(--blade-color) !important;
  color: var(--text-color);
}

.dropdown-item:hover{
  background-color:var(--blade-color) !important;
  filter: contrast(0.8);
  color: var(--text-color);
}

p a, a:hover{
    color: var(--text-attention);
  }
  

h1, h2, a, body{
    color: var(--text-color);
}

.card, .card:hover{
    background-color: var(--blade-color) !important;
}

p {
    font-size: 18px;
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 1.5em;
  }

ul, ol {
    margin-bottom: 12pt;
    margin-left: 18pt;
  }
  
  /* Table styles */
  
th {
    background-color: var(--blade-color);
    color: var(--text-color);
    font-weight: bold;
  }
  
  table thead th {
    border-bottom: none;
  }


