body {
  background-color: black;
  max-width: 800px;
  margin: auto;
  font-family: 'Times New Roman';
}

/* Texto */
h1, h3, h4, a, ul, p, h2, .rightSpam, .leftSpam {
  color: white;
}

a, .texto {
  text-decoration: none;
}

a:hover, a h3:hover, .cardBiblioteca:hover h1 {
  color: goldenrod;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  margin-top: 5%;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
  font-size: smaller;
  text-decoration: solid;
  text-align-last: left;
  text-indent: 10%;
}

li, a, .imgBack, .imgCenter, .seta_some, h1, a h3:hover {
  transition: 0.5s;
}

li:hover, a h3:hover, .cardBiblioteca:hover h1, .imgBack:hover{
  transform: scale(1.1);
}

.imgBack {
  width: 25%;
}

.imgBack,
.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lineTable {
  height: 2.2vh;
  transition: 2s;
}

.rightcell {
  width: 30%;
  text-align: right;
}

.leftCell {
  width: 70%;
  text-align: left;
}

.rightSpam,
.leftSpam {
  vertical-align: baseline;
  font-family: Times New Roman;
}

.rightSpam {
  font-weight: bold;
  margin-right: 0.5vw;
}

.leftSpam {
  margin-left: 0.5vw;
  font-style: italic;
}

/* Menu */

.seta_some {
  display: none;
  width: 100%;
}

.seta_virada {
  transform: rotate(180deg);
  width: 100%;
}

.cardBiblioteca {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
  gap: 5px 8px;
  /*grid-auto-flow: row;*/
  grid-template-areas:
    "seta-esquerda texto seta-direita";
  width: 100%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.texto {
  grid-area: texto;
  text-align: center;
  align-self: center;
}


.seta-direita {
  grid-area: seta-direita;
  align-self: center;
  text-align: -webkit-right;
  filter: invert(100%);
  transition: 0.5s;
}

.seta-esquerda {
  grid-area: seta-esquerda;
  align-self: center;
  text-align: -webkit-left;
  filter: invert(100%);
  transition: 0.5s;
}

.cardBiblioteca:hover .seta_some, .cardBiblioteca:hover .seta-esquerda, .cardBiblioteca:hover .seta-direita {
  display: block;
  filter: invert(0%);
}


.Titulo {
  grid-area: Titulo;
}

.Ornamento_cabeçalho {
  grid-area: Ornamento_cabeçalho;
}

/* Imagens */

.imgFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.two_sided_table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "right_side left_side";
}

.right_side {
  grid-area: right_side;
}

.left_side {
  grid-area: left_side;
}